.relatedProducts {
	display: flex;
	flex-direction: column;
	height: 90vh;
	gap: 10px;
	align-items: center;
}
.relatedProducts h1 {
	color: #171717;
	font-size: 50px;
	font-weight: 600;
	align-items: center;
}
.relatedProducts hr {
	width: 200px;
	height: 6px;
	border-radius: 10px;
	color: #252525;
}
.relatedProductsItem {
	margin: 50px 0;
	display: flex;
	gap: 30px;
}
